@page
@model Kursova_VideoStore.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <p>
        Search by name or position:
        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        <input type="submit" value="Search" class="btn btn-default" />
        <a asp-page="./Index">Back to full list</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.FirstNameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employees[0].FirstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.LastNameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employees[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.PositionSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employees[0].Position)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.HireDateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Employees[0].HireDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Position</td>
                <td>@item.HireDate.ToShortDateString()</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.EmployeeID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.EmployeeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Employees.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Employees.HasNextPage ? "disabled" : "";
}

<div class="btn-group">
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Employees.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Employees.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
