@page
@model Kursova_VideoStore.Pages.Films.IndexModel

@{
    ViewData["Title"] = "Films";
}

<h1>Films</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <p>
        Search by title or genre:
        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        <input type="submit" value="Search" class="btn btn-default" />
        <a asp-page="./Index">Back to full list</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.TitleSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Films[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.GenreSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Films[0].Genre)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.YearSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Films[0].ReleaseYear)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.PriceSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Films[0].Price)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.StockSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Films[0].Stock)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Films)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.ReleaseYear</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FilmID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.FilmID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FilmID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Films.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Films.HasNextPage ? "disabled" : "";
}

<div class="btn-group">
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Films.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Films.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
