@model Videoteka.Models.Film

@{
    ViewData["Title"] = "Film Details";
}

<h1>@Model.Title</h1>

<div>
    <h4>Film Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div class="mt-3">
    @if (User.IsInRole(Kursova_VideoStore.Data.Roles.AdminEndUser))
    {
        <a asp-action="Edit" asp-route-id="@Model?.FilmID" class="btn btn-primary">Edit</a> <span>|</span>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>